//color
$white: #FFFFFF;
$black: #000000;
$grey-lighten: #BDBDBD;
$text-color: #263238;
$light-blue-darken: #0277BD;
$light-blue-lighten: #B3E5FC;
$blue-lighten: #E3F2FD;
$text-color: #263238;

//media
$tablet: '(min-width: 768px)';
$tablet-1024: '(min-width: 1024px)';
$media-720p: '(min-width: 1280px)';
$desktop: '(min-width: 1440px)';
